* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$Orange: hsl(26, 100%, 55%);
$Paleorange: hsl(25, 100%, 94%);
$Veryvarkblue: hsl(220, 13%, 13%);
$Darkgrayishblue: hsl(219, 9%, 45%);
$Grayishblue: hsl(220, 14%, 75%);
$Lightgrayishblue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$BorderHeader: #e8e7ec;
//$Black(with 75% opacity for lightbox background): hsl(0, 0%, 0%)

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}
.container {
  width: 1110px;
  margin: auto;
}
.menu {
  margin-left: 56px;
}
.menu__wrapper {
  display: flex;
  list-style: none;
}
.menu__item {
  margin-right: 33px;
  color: #68707d;
  margin-bottom: 8px;
  font-size: 0.94em;
  position: relative;
  transition: ease 0.2s;
  &:hover {
    cursor: pointer;
    transition: ease 0.2s;
  }
  &:hover::after {
    content: "";
    width: 100%;
    position: absolute;
    background: $Orange;
    height: 5px;
    left: 0;
    bottom: -51px;
    transition: ease 0.2s;
  }
}
.mobile__nav-trigger {
  display: none;
}
.mobile__nav {
  z-index: 50;
  position: absolute;
  left: -5000px;
  top: 0;
  height: 100vh;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.mobile__nav--active {
  transform: translateX(5000px);
  background: #0000005c;
}
.mobile__nav-wrapper {
  height: 100vh;
  width: 250px;
  background: white;
  padding: 25px;
}
.mobile__nav-list {
  list-style: none;
}
.mobile__nav-item {
  margin-bottom: 30px;
  font-weight: 700;
}
.mobile__nav-closeBtn {
  margin-bottom: 55px;
  display: block;
}
header {
  height: 113px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid $BorderHeader;
}
.header__left,
.header__right {
  display: flex;
  align-items: center;
}
.logo {
  margin-bottom: 6px;
}
.cart__button {
  position: relative;
}
.cart__button--mb {
  display: none;
}
.cart__badge {
  position: absolute;
  top: -50%;
  right: -10px;
  border-radius: 40%;
  background: $Orange;
  color: white;
  font-size: 0.6em;
  line-height: 13px;
  width: 20px;
  height: 13px;
  text-align: center;
}
.cart {
  margin-right: 41px;
  position: relative;
  top: 20px;
  height: 65px;
  &:hover {
    .cart__list {
      opacity: 1;
      pointer-events: all;
    }
  }
}
.cart-mobile {
  display: none;
  opacity: 0;
  pointer-events: none;
  top: auto;
  height: auto;
  transition: ease 0.2s;

  &::focus {
    display: none;
  }
}
.cart-mobile--active {
  opacity: 1;
  pointer-events: all;
  transition: ease 0.2s;
}
.cart__list {
  z-index: 2;
  transition: ease 0.2s;
  border-radius: 5px;
  top: 50px;
  opacity: 0;
  pointer-events: none;
  background-color: $White;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 25px;
    .empty {
      font-weight: 700;
      align-self: center;
      text-align: center;
      width: 100%;
      color: $Darkgrayishblue;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.cart__item {
  height: 50px;
  display: flex;
  margin-bottom: 25px;
}
.cart__item-img {
  width: 50px;
  border-radius: 5px;
}
.cart__item-info {
  padding-left: 15px;
  color: $Darkgrayishblue;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.cart__item-delete {
  position: absolute;
  right: 0;
}
.cart__item-name {
  display: block;
}
.cart__item-total {
  color: $Veryvarkblue;
  font-weight: 700;
}
.cart__list-tittle {
  display: block;
  border-bottom: 1px solid $Grayishblue;
  padding: 25px;
  font-weight: 700;
}
.cart__checkout-btn {
  background-color: $Orange;
  width: 100%;
  border-radius: 10px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $White;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 5px;
}

.cart-mobile {
  width: 95%;
  position: absolute;
  z-index: 50;
  background: white;
  transform: translateX(-50%);
  left: 50%;
  bottom: -280px;

  border-radius: 10px;
}

.cart__list-mobile {
  padding: 30px 24px;
  .empty {
    font-weight: 700;
    align-self: center;
    text-align: center;
    width: 100%;
    color: $Darkgrayishblue;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cart__list-mobile {
}

.profile {
  border: 3px solid white;
  height: 55px;
  width: 55px;
  transition: ease 0.2s;
  border-radius: 50%;
  margin-bottom: 7px;
  position: relative;
  left: 2px;
  img {
    height: 50px;
  }
  &:hover {
    border: 3px solid $Orange;
    transition: ease 0.2s;
    cursor: pointer;
  }
}

.product-page {
  position: relative;
  padding: 0 48px;
  margin-top: 90px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 63px;
}

.product__img-list {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-column-gap: 29px;
}

.img__product-wrapper {
  position: relative;
}
.mb-row {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: $White;
}
.mb-row--left {
  top: 50%;
  left: 0;
  transform: translate(16px, -50%);
}
.mb-row--right {
  top: 50%;
  right: 0;
  transform: translate(-16px, -50%);
}

.product__img-principal {
  width: 445px;
  border-radius: 15px;
}

.light-box {
  position: fixed;
  width: 100vw;
  background-color: #00000087;
  left: 0;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.light-box__wrapper {
  position: relative;
}
.lightbox__close-btn {
  position: absolute;
  right: 0;
  top: -50px;
  height: 20px;
  transition: ease 0.2s;

  svg path {
    transform: scale(1.4);
  }
  &:hover {
    svg path {
      fill: $Orange;
      transition: ease 0.2s;
    }
  }
}

.lightbox__img-principal {
  border-radius: 10px;
  width: 550px;
}

.lightbox__img-list {
  align-items: center;
  justify-content: center;
}

.light-box__img-wrapper {
  position: relative;
  a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $White;
    border-radius: 50%;

    &:hover {
      svg path {
        stroke: $Orange;
        transition: ease 0.2s;
      }
    }
  }
  .left {
    left: 0;
    transform: translate(-50%, -50%);
  }
  .right {
    right: 0;
    transform: translate(50%, -50%);
  }
}

.product__img {
  list-style: none;
  width: 88px;
  border-radius: 10px;

  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 10px;
    display: block;
  }
  &:hover::after {
    cursor: pointer;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
  }
}
.product__img--selected {
  border: 3px solid #ff7d1a;
  width: 90px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.product-page__right {
  padding-top: 62px;
}
.product__topinfo {
  color: $Orange;
  font-weight: 700;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
}
.product__tittle {
  font-size: 2.75em;
  margin-bottom: 34px;
  line-height: 1.1em;
  padding-top: 1px;
}
.product__description {
  color: $Darkgrayishblue;
  font-size: 1em;
  margin-bottom: 25px;
  line-height: 1.64em;
  letter-spacing: 0.1px;
  width: 90%;
}
.product__actual-price {
  display: flex;
  align-items: center;
}
.price {
  color: $Veryvarkblue;
  font-weight: 700;
  font-size: 1.8em;
  margin-right: 15px;
  letter-spacing: 0.8px;
}
.discount {
  font-size: 1em;
  color: $Orange;
  font-weight: 700;
  background-color: $Paleorange;
  padding: 3px 10px;
  border-radius: 5px;
}

.product__original-price {
  color: #b0b2bf;
  text-decoration: line-through;
  font-size: 0.97em;
  font-weight: 700;
  margin-top: 10px;
  letter-spacing: 0.8px;
}

.quantity__buttons {
  background-color: $Lightgrayishblue;
  display: flex;
  width: 157px;
  padding: 0 16px;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  span {
    font-weight: 700;
  }
}
.quantity__controls-btn {
  text-decoration: none;
  color: $Orange;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  transition: ease 0.2s;

  &:hover {
    opacity: 0.6;
    transition: ease 0.2s;

    cursor: pointer;
  }
}
.product__btns {
  display: flex;
  margin-top: 37px;
}
.addToCart__btn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: $Orange;
  outline: none;
  border: none;
  width: 270px;
  font-size: 0.95em;
  letter-spacing: 0.4px;
  margin-left: 15px;
  color: $White;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    #ff7d1a 0px 18px 36px -18px;
  .addToCartIcon {
    margin-right: 15px;
    height: 17px;
    filter: brightness(2.5);
  }
  transition: ease 0.2s;
  &:hover {
    transition: ease 0.2s;
    opacity: 0.6;
    cursor: pointer;
  }
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1024px) {
  .container {
    width: auto;
    padding: 0 25px;
  }
  .cart-mobile {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: auto;
    padding: 0;
  }
  header {
    padding: 0 24px;
    position: fixed;
    z-index: 50;
    top: 0;
    background-color: $White;
  }
  .menu {
    display: none;
  }
  .cart__button {
    display: none;
  }
  .cart__badge {
    top: -20%;
  }
  .cart__button--mb {
    display: block;
  }
  .mobile__nav-trigger {
    display: block;
    margin-right: 16px;
  }
  .product-page {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }
  .mb-row {
    display: flex;
  }
  .product__img-principal {
    width: 100%;
    border-radius: 0;
  }
  .product__img-list {
    display: none;
  }
  .product-page__right {
    padding: 25px;
  }
  .product__price {
    display: flex;
    justify-content: space-between;
  }
  .quantity__buttons {
    width: 100%;
    margin: 0;
  }
  .product__btns {
    flex-wrap: wrap;
  }
  .cart__list {
    display: none;
  }
  .addToCart__btn {
    margin-top: 16px;
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .container {
    overflow: hidden;
  }
  .cart {
    top: 0;
    height: auto;
    margin-right: 20px;
  }
  .profile {
    height: 31px;
    width: 30px;
    img {
      height: 25px;
    }
  }
  .product-page {
    margin-top: 113px;
  }
}
